Package: wrapl
Version: 0.7
Architecture: i386
Depends: libconfuse0 (>= 2.5), libgmp3c2 (>= 4.2.1), libc6 (>= 2.5)
Section: devel
Priority: optional
Maintainer: Raja Mukherji <rajamukherji@gmail.com>
Description: Wrapl, The Programming Language
  Wrapl is a high level dynamically compiled programming language.
